ultralytics
mediapipe==0.10.21
openmim
mmengine
mmcv>=2.1.0
mmdet>=3.3.0
mmpose==1.3.2
xtcocotools
torch
torchvision
tensorflow==2.15.0
numpy==1.26.4
pandas
scipy
sympy
opencv-contrib-python
matplotlib==3.10.8
plotly
kaleido
tqdm
ffmpeg-python
PyYAML
requests