body {
    /* background-color: rgb(230, 217, 150); */
    background-color: rgb(190, 241, 246);
    position: relative;
    padding-inline: 3vw;
}

a {
    text-decoration: none;
    color: inherit;
}

.upload-box {
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 50vw;
    background-color: aliceblue;
    border-radius: 5px;
    transition: 0.3s ease;
}

.upload-box:hover {
    cursor: pointer;
    transform: scale(1.03);
}

#input-video {
    display: none;
}

#video-preview {
    width: 20vw;
    border-radius: 5px;
}

.center {
  display: flex; 
  justify-content: center; 
  align-items: center; 

}

.center-box {
  display: grid;
  place-items: center;
}

.choice-bar {
    display: flex;
    column-gap: 1vw;
    padding-right: 1vw;
}

.choice {
    box-sizing: border-box;
    height: 8vh;
    width: 20vw;
    user-select: none;
    background-color: aliceblue;
    padding-inline: 3vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    border-radius: 5px;
    transition: 0.3s ease;
    cursor: pointer;
}

#site-search {
    cursor: text;
    border: none; 
    box-sizing: border-box; 
    height: 8vh;  
    width: 20vw;
    background-color: aliceblue;
    padding-inline: 3vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    border-radius: 5px;
    transition: 0.3s ease;     
    font-size: large;
}

.choice:hover {
    transform: scale(1.05);
}

.mediapipe:hover {
    background-color: rgb(117, 198, 198);
}

.mmpose:hover {
    background-color: rgba(70, 70, 226, 1);
}

.yolo26:hover {
    background-color: rgba(143, 157, 217, 1);
}

.page-cover {
    width: 100%;
    height: 100%;
    z-index: 9999;
    padding: none;
}

.hidden {
    display: none !important;
}

#processing-preview {
    max-width: 75vw;
    max-height: 75vh;
}

#dashboard-video {
    max-width: 80vw;
    max-height: 80vh;
    justify-content: center;
}

.featureButton {
    background-color: rgb(157, 255, 217);
}

.graph {
    background-color: rgb(194, 130, 255);
}